<div class="progress-msg">Composing titles...</div>
<div class="progress-msg">Composing excerpts...</div>
<div class="progress-msg">Composing authors...</div>
<div class="progress-msg">Composing slugs...</div>
<div class="progress-msg">Composing menu order...</div>
<div class="progress-msg">Composing contents...</div>
<div class="progress-msg">Composing dates...</div>
<div class="progress-msg">Composing terms for `Listing Categories` taxonomy...</div>
<div class="progress-msg">Composing terms for `Listing Labels` taxonomy...</div>
<div class="progress-msg">Composing URLs for images...</div>
<div class="progress-msg">Composing URLs for listing gallery...</div>
<div class="progress-msg">Composing listing gallery meta data (titles)...</div>
<div class="progress-msg">Composing listing gallery meta data (alt text)...</div>
<div class="progress-msg">Composing listing gallery meta data (description)...</div>
<div class="progress-msg">Composing URLs for attachments files...</div>
<div class="progress-msg">Composing unique keys...</div>
<div class="progress-msg">Processing posts...</div>
<div class="progress-msg">Data parsing via add-ons...</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #1</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Legacy Center of Louisiana, LLC`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Legacy Center of Louisiana, LLC`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Legacy Center of Louisiana, LLC - 465`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Legacy Center of Louisiana, LLC`</div>
<div class="progress-msg"><b>CREATING</b> `Legacy Center of Louisiana, LLC` `Listing`</div>
<div class="progress-msg">Associate post `Legacy Center of Louisiana, LLC` with current import ...</div>
<div class="progress-msg">- Downloading image from `http://eldercarematters.com/photos/lmelancon.jpg`</div>
<div class="progress-msg">- Image `http://eldercarematters.com/photos/lmelancon.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `https://eldercaredirectories.com/wp-content/uploads/2017/09/lmelancon.jpg`</div>
<div class="progress-msg">- Attachment has been successfully created for image `https://eldercaredirectories.com/wp-content/uploads/2017/09/lmelancon.jpg`</div>
<div class="progress-msg">- Getting location data from Geocoding API: https://maps.googleapis.com/maps/api/geocode/json?address=14279%20Highway%2073%20Prairieville%20LA%2070769&key=AIzaSyA_6Wr8s7vIQbc8eExeHQPMzphw1aJ8Vrk</div>
<div class="progress-msg">- Updating location data</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `job_listing_category` ...</div>
<div class="progress-msg">- Attempted to create parent Listing job_listing_category `Estate Planning`, duplicate detected. Importing Listing to existing `Estate Planning` job_listing_category, ID 79, slug `estate-planning` ...</div>
<div class="progress-msg">- Importing taxonomy `job_listing_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Legacy Center of Louisiana, LLC` `Listing` (ID: 327)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #2</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Owens Financial Group, Inc.`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Owens Financial Group, Inc.`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Owens Financial Group, Inc. - 692`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Owens Financial Group, Inc.`</div>
<div class="progress-msg"><b>CREATING</b> `Owens Financial Group, Inc.` `Listing`</div>
<div class="progress-msg">Associate post `Owens Financial Group, Inc.` with current import ...</div>
<div class="progress-msg">- Downloading image from `http://eldercarematters.com/photos/dowens.jpg`</div>
<div class="progress-msg">- Image `http://eldercarematters.com/photos/dowens.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `https://eldercaredirectories.com/wp-content/uploads/2017/09/dowens.jpg`</div>
<div class="progress-msg">- Attachment has been successfully created for image `https://eldercaredirectories.com/wp-content/uploads/2017/09/dowens.jpg`</div>
<div class="progress-msg">- Getting location data from Geocoding API: https://maps.googleapis.com/maps/api/geocode/json?address=251%20Technology%20Pkwy%20NW%20Rome%20GA%2030165&key=AIzaSyA_6Wr8s7vIQbc8eExeHQPMzphw1aJ8Vrk</div>
<div class="progress-msg">- Updating location data</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `job_listing_category` ...</div>
<div class="progress-msg">- Attempted to create parent Listing job_listing_category `Financial Planning`, duplicate detected. Importing Listing to existing `Financial Planning` job_listing_category, ID 77, slug `financial-planning` ...</div>
<div class="progress-msg">- Importing taxonomy `job_listing_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Owens Financial Group, Inc.` `Listing` (ID: 329)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">Cleaning temporary data...</div>
