/*
Theme Name:     Listify Child
Theme URI:      https://astoundify.com/products/listify/
Template:       listify
Version:        1.0
*/
.has-image.entry-cover,.has-image.entry-cover a,.has-image.entry-cover--home,.has-image.entry-cover--home a,.has-image.listing-cover,.has-image.listing-cover a,.has-image.page-cover,.has-image.page-cover a,.listify-cover.has-image,.listify-cover.has-image a{text-shadow:rgba(0,0,0,1) 2px 1px 4px !important}
/* FIX to hide single article header image, and to then restore homepage header image */
.page-cover--large {background-image:none !important;}
/* .homepage-cover {background image: url(https://eldercarematters.com/wp-content/uploads/2017/09/ElderCareMatters.jpg) !important}*/
@media (min-width: 992px) {h1.job_listing-title {font-weight:700}.cta-title {font-size:32px;margin-bottom:15px}.cta-description p {font-size:18px}.content-single-job_listing-title-category {font-size:20px;font-weight:500} .job_listing-location.job_listing-location-formatted {font-size:18px}
}
.site-main.listify_widget_panel_listing_tags a {width:44%}

.cta-subtext {font-size:15px}

/* Fix for Listing Results */
.job_listing-entry-header.job_listing-title {font-size:24px}
/* Fix for Uppercase Text on Homepage Header Title */
.homepage-cover.home-widget-title,.home-widget-title {text-transform: uppercase !important;}
/* Fix for Claim Listing */
.claim-listing {
    background-color: #4CAF50; /* Green */
    border: none; color: white; padding: 15px 32px; text-align: center;
    text-decoration: none; display: inline-block; font-size: 16px;
}
/* Fix for Dropdown used in Search Filters */
.facetwp-facet .facetwp-checkbox:before,.filter_by_tag a:before,.listify-input--radio,.search-choice-close,.widget_layered_nav li a:before,input[type=checkbox],input[type=radio] {margin: 0 6px 0 0;vertical-align: bottom;}
.filter_by_tag_cloud {margin:0;}
.ui-accordion .ui-accordion-content {padding:1.5em 2.2em;}
/* Add Hover effect to Main Menu */
.nav-menu a:hover,.nav-menu a:active {font-weight:700;}
/*.nav-menu li.menu-item-has-children:hover {font-weight:700;}*/

/* Home Page - Text Section after Above the Fold Area */
@media (min-width: 992px)
{.feature-callout.text-center .callout-feature-content {
    max-width: inherit !important;
	margin: 0 auto;}}

@media (min-width: 1200px)
{.callout-feature-content {
    padding-top: 9em; padding-bottom: 9em;
	}}

div.feature-callout.text-center.image-cover {margin-bottom:100px;}


/* Above the Fold Fix */
@media screen and (min-width: 992px){
.home-widget-title h1{
    font-weight: 700 !important;
	font-size:54px !important;}
	.homepage-cover .home-widget-title {font-weight: 700 !important;}}
.homepage-cover .home-widget-description {
    font-size: 20px;
}

/* Make Green Check Marks on Homepage Larger */
li.type-job_listing.style-grid .job_listing-entry-footer .listing-entry-company-image + .claimed-ribbon span:first-child::before, li.type-job_listing.style-grid .job_listing-entry-footer .listing-entry-company-image+.claimed-ribbon span:first-child:before {
    font-size: 28px;
}

/* Hide Confusing login text and button on Add Your Listing Page */
.fieldset-login_required {display:none;}

.recurring-totals,.cart-subtotal.recurring-total,.order-total.recurring-total {background-color:#FAFAFA;color:#777777;text-indent: 20px;font-size:14px}
/*.vox-totals  {background-color:#660000;color:#ffffff;}*/

.first-payment-date {
    font-size: 18px !important;
    color: #2b2b2b;
    font-weight: 700;
    font-style: normal;
}
	
/*.cat-links:before {	content: "\f301";}
.tags-links:before {content: "\f302";}*/