<div class="progress-msg">Composing titles...</div>
<div class="progress-msg">Composing excerpts...</div>
<div class="progress-msg">Composing authors...</div>
<div class="progress-msg">Composing slugs...</div>
<div class="progress-msg">Composing menu order...</div>
<div class="progress-msg">Composing contents...</div>
<div class="progress-msg">Composing dates...</div>
<div class="progress-msg">Composing terms for `Listing Categories` taxonomy...</div>
<div class="progress-msg">Composing terms for `Listing Labels` taxonomy...</div>
<div class="progress-msg">Composing URLs for images...</div>
<div class="progress-msg">Composing URLs for listing gallery...</div>
<div class="progress-msg">Composing URLs for attachments files...</div>
<div class="progress-msg">Composing unique keys...</div>
<div class="progress-msg">Processing posts...</div>
<div class="progress-msg">Data parsing via add-ons...</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #1</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Law Office of Mary B. Shelley`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Law Office of Mary B. Shelley`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Law Office of Mary B. Shelley - 995`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Law Office of Mary B. Shelley`</div>
<div class="progress-msg"><b>CREATING</b> `Law Office of Mary B. Shelley` `Listing`</div>
<div class="progress-msg">Associate post `Law Office of Mary B. Shelley` with current import ...</div>
<div class="progress-msg">- Getting location data from Geocoding API: https://maps.googleapis.com/maps/api/geocode/json?address=505%20SW%2075th%20Street&key=AIzaSyA_6Wr8s7vIQbc8eExeHQPMzphw1aJ8Vrk</div>
<div class="progress-msg">- Updating location data</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `job_listing_category` ...</div>
<div class="progress-msg">- Importing taxonomy `job_listing_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Law Office of Mary B. Shelley` `Listing` (ID: 317)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #2</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Master Solutions`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Master Solutions`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Master Solutions - 340`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Master Solutions`</div>
<div class="progress-msg"><b>CREATING</b> `Master Solutions` `Listing`</div>
<div class="progress-msg">Associate post `Master Solutions` with current import ...</div>
<div class="progress-msg">- Getting location data from Geocoding API: https://maps.googleapis.com/maps/api/geocode/json?address=680%20Valley%20Rd&key=AIzaSyA_6Wr8s7vIQbc8eExeHQPMzphw1aJ8Vrk</div>
<div class="progress-msg">- Updating location data</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `job_listing_category` ...</div>
<div class="progress-msg">- Importing taxonomy `job_listing_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Master Solutions` `Listing` (ID: 318)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">Cleaning temporary data...</div>
