/*
Theme Name:     Listify Child
Theme URI:      https://astoundify.com/products/listify/
Template:       listify
Version:        1.0
*/
/*.woocommerce-view-subscription .wc-item-meta{display: none;}*/

.has-free-listing .listify_widget_panel_listing_comments{display:none;}
.product-name a.button.upgrade {display: block; padding: 12px 15px; max-width: 140px; }
.has-image.entry-cover,.has-image.entry-cover a,.has-image.entry-cover--home,.has-image.entry-cover--home a,.has-image.listing-cover,.has-image.listing-cover a,.has-image.page-cover,.has-image.page-cover a,.listify-cover.has-image,.listify-cover.has-image a{text-shadow:rgba(0,0,0,1) 2px 1px 4px !important}
/* FIX to hide single article header image, and to then restore homepage header image */
.page-cover--large {background-image:none !important;}
/* .homepage-cover {background image: url(https://eldercarematters.com/wp-content/uploads/2017/09/ElderCareMatters.jpg) !important}*/
@media (min-width: 992px) {h1.job_listing-title {font-weight:700}.cta-title {font-size:32px;margin-bottom:15px}.cta-description p {font-size:18px}.content-single-job_listing-title-category {font-size:20px;font-weight:500} .job_listing-location.job_listing-location-formatted {font-size:18px}
}
.site-main.listify_widget_panel_listing_tags a {width:44%}

.cta-subtext {font-size:15px}

/* Fix for Listing Results */
.job_listing-entry-header.job_listing-title {font-size:24px}
/* Fix for Uppercase Text on Homepage Header Title */
.homepage-cover.home-widget-title,.home-widget-title {text-transform: uppercase !important;}
/* Fix for Claim Listing */
.claim-listing {
    background-color: #4CAF50; /* Green */
    border: none; color: white; padding: 15px 32px; text-align: center;
    text-decoration: none; display: inline-block; font-size: 16px;
}
/* Fix for Dropdown used in Search Filters */
.facetwp-facet .facetwp-checkbox:before,.filter_by_tag a:before,.listify-input--radio,.search-choice-close,.widget_layered_nav li a:before,input[type=checkbox],input[type=radio] {margin: 0 6px 0 0;vertical-align: bottom;}
.filter_by_tag_cloud {margin:0;}
.ui-accordion .ui-accordion-content {padding:1.5em 2.2em;}
/* Add Hover effect to Main Menu */
.nav-menu a:hover,.nav-menu a:active {font-weight:700;}
/*.nav-menu li.menu-item-has-children:hover {font-weight:700;}*/

/* Home Page - Text Section after Above the Fold Area */
@media (min-width: 992px)
{.feature-callout.text-center .callout-feature-content {
    max-width: inherit !important;
	margin: 0 auto;}}

@media (min-width: 1200px)
{.callout-feature-content {
    padding-top: 9em; padding-bottom: 9em;
	}}

div.feature-callout.text-center.image-cover {margin-bottom:100px;}


/* Above the Fold Fix */
@media screen and (min-width: 992px){
.home-widget-title h1{
    font-weight: 700 !important;
	font-size:54px !important;}
	.homepage-cover .home-widget-title {font-weight: 700 !important;}}
.homepage-cover .home-widget-description {
    font-size: 20px;
}

/* Make Green Check Marks on Homepage Larger */
li.type-job_listing.style-grid .job_listing-entry-footer .listing-entry-company-image + .claimed-ribbon span:first-child::before, li.type-job_listing.style-grid .job_listing-entry-footer .listing-entry-company-image+.claimed-ribbon span:first-child:before {
    font-size: 28px;
}

/* Hide Confusing login text and button on Add Your Listing Page */
.fieldset-login_required {display:none;}

.recurring-totals,.cart-subtotal.recurring-total,.order-total.recurring-total {background-color:#FAFAFA;color:#777777;text-indent: 20px;font-size:14px}
/*.vox-totals  {background-color:#660000;color:#ffffff;}*/

.first-payment-date {
    font-size: 18px !important;
    color: #2b2b2b;
    font-weight: 700;
    font-style: normal;
}
	
/*.cat-links:before {	content: "\f301";}
.tags-links:before {content: "\f302";}*/

.job-packages--count-2.upgrade .job-package {
  width: 47%;
  margin-right: 2%;
}

/* =======================================
home page desktop css @j
========================== */
.template-home .homepage-cover:not(.has-map) .update_results {
    width: 20%;
    margin-left: 20px;
}
.filter_wide.filter_by_tag.astoundify-listing-labels span {
    display: none;
}
.filter_wide.filter_by_tag.astoundify-listing-labels {
    border: 1px solid #c5c5c5;
    padding: 10px;
    border-radius: 3px;
    background: #f6f6f6;
}
.filter_wide.filter_by_tag.astoundify-listing-labels p{
    margin-bottom: 0px;
}
#listify_widget_recent_posts-1 .content-box-inner {
  min-height: 410px;
  display: flex;
  flex-flow: column;
}
.content-box-inner .entry-title,
.content-box-inner .entry-summary,
.content-box-inner .entry-footer {
  margin-top: auto;
}
.page-cover {
  padding: 40px 0px;
}
#recent-posts-2 {
  margin-top: 83px;
}
.job_filters .update_results {
  width: 15%;
}
.content-box-inner {
  display: flex;
  flex-direction: column;
  min-height: 300px;
}
#search-header input[type="search"] {
  width: 20%;
}
#ctct-form-9767 h3 {
  margin-top: 20px;
}
.footer-widget-title {
  margin-top: 17px !important;
}
.job-packages {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 100%;
}
.job-manager-term-checklist li {
  width: 33%;
  float: left;
}

.woocommerce-checkout fieldset {
  padding: 0.5em;
}
input[type="checkbox"],
input[type="radio"] {
  vertical-align: middle;
}
.template-home .listify_widget_search_listings .update_results {
  float: none;
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .nav-menu li {
    margin-right: 12px;
  }
  .nav-menu li a {
    font-size: 13px;
    line-height: 21px;
  }
  .primary.nav-menu {
    padding-left: 0px !important;
  }
  .template-home .homepage-cover:not(.has-map) .update_results {
    margin-left: 20px;
  }
  .homepage-cover.page-cover.entry-cover.entry-cover--home.entry-cover--gradient.has-image {
    padding-top: 100px;
  }
  .site-social {
    float: left;
    width: 100%;
    text-align: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .footer-widget-title {
    margin: 10px 0px 0px 0px;
  }
  .widget_nav_menu li {
    padding: 2px 0px;
  }
  .coupon button.button {
    margin-left: 20px;
  }
  .job-manager-term-checklist li {
    width: 50% !important;
    float: left;
  }
  .search-filters-home {
    text-align: center;
  }
  .search-filters-home form .update_results {
    width: 250px !important;
  }
  .site-social {
    float: left;
    width: 100%;
    text-align: center;
  }
  .content-box-inner {
    display: flex;
    flex-direction: column;
    min-height: 360px;
}
}
@media screen and (min-width: 481px) and (max-width: 767px) {
  #place_order {
    width: 200px !important;
    margin: 0 auto;
    display: block;
    margin-top: 30px;
  }
  .woocommerce-order a.button {
    margin-bottom: 15px;
  }
  .job-manager-term-checklist li {
    width: 50% !important;
    float: left;
  }
  .blog-archive {
    flex-direction: column;
  }
  .blog-archive > div.col-sm-6 {
    flex: 0 0 100%;
    max-width: 100%;
    -ms-flex: 0 0 100%;
  }
}
@media screen and (min-width: 350px) and (max-width: 413px) {
  div#stripe-exp-element {
    margin-top: 27px;
  }
}
@media screen and (min-width: 300px) and (max-width: 480px) {
  #custom_html-2 .textwidget.custom-html-widget {
    display: flex;
    flex-direction: column;
  }
  #custom_html-2 .textwidget.custom-html-widget img {
    margin: 0 auto;
  }
  .blog-archive {
    flex-direction: column;
  }
  .blog-archive > div.col-sm-6 {
    flex: 0 0 100%;
    max-width: 100%;
    -ms-flex: 0 0 100%;
  }
  .site-social ul {
    text-align: center;
  }
  .site-branding {
    text-align: center;
  }
  .search-filters-home .job_search_form {
    text-align: center;
  }
  .search-filters-home .job_search_form .update_results {
    width: 50% !important;
  }
  .page-cover {
    padding: 15px 0px;
  }
  .page-cover h1 {
    font-size: 32px;
    line-height: 38px;
    margin: 0 10px;
    text-align: center;
  }
  .entry-content td,
  .entry-content th {
    text-align: center;
  }
  .woocommerce-order a.button {
    margin-bottom: 15px;
  }
  .woocommerce-MyAccount-avatar {
    float: none;
    width: 100px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .woocommerce-MyAccount-avatar ~ .woocommerce-MyAccount-content {
    margin-left: 0;
  }
  .page-cover.no-image .page-title {
    font-size: 38px;
  }
  .job-manager-term-checklist li {
    width: 100% !important;
    float: left;
  }
  .homepage-cover .home-widget-title {
    font-size: 20px;
    line-height: 26px;
    }
}

@media screen and (max-width: 767px) {
  .page-cover h1 {
    font-size: 32px;
    line-height: 38px;
    margin: 0 10px;
    text-align: center;
  }
  .page-cover {
    padding: 20px 0px;
  }
body .alliance_wrap .sub_heading {
    font-size: 2em;
}

}
@media screen and (max-width: 992px) {
  .page-cover h1 {
    font-size: 36px;
    line-height: 40px;
    margin: 0 20px;
    text-align: center;
  }
}

.job-package-includes li:nth-child(1)::before, .listify_widget_panel_listing_tags:nth-child(1) a:nth-child(1)::before  {
	display: none;
}
.alliance_wrap .job_filters{display:none!important;}
.container.alliance_wrap {
    margin: 50px auto;
}
.alliance_wrap .sub_heading {
	text-align: center;
	text-transform: uppercase;
	margin: 0 0 1em;
	font-size: 3em;
	font-weight: normal;
	font-family: "Crimson Text",Georgia,Times,"Times New Roman",serif;
}
.single-job_listing .listing-rating .listing-rating-count a{visibility: hidden;}
.single-job_listing .listing-rating .listing-rating-count{visibility: hidden;}
.alliance_wrap a.js-toggle-area-trigger {
    display: none!important;
}
.post-type-archive-job_listing .filter_wide.filter_by_tag.astoundify-listing-labels {
    display: none!important;
}
.my-featured-blog{
  padding: 0;
  height: 275px;
}
.widget_my_featured_member_blog_post_widget .my-featured-blog.no-image {
    background-image: url(https://eldercarematters.com/wp-content/uploads/2017/10/back-marble-default-bg.jpg);
    background-position: top right;
}

.my-featured-blog .job_listing-title{
    font-size: 20px;
    line-height: normal;
}
.my-featured-blog a{

    color: #fff !important;

}
.my-featured-blog .entry-meta--grid > span {
    color: #fff;
}
.my-featured-blog{
  position: relative;
}
.my-featured-blog::after {
  content: ' ';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,.45);
  z-index: 5;
}
.my-featured-blog .entry-footer {
  margin-top: 1em;
}
/*.widget_my_featured_member_blog_post_widget {
    padding: 0;
    box-shadow: none;
}*/

/*custom code written on 19aug19*/
.page-id-50 .entry-content .woocommerce-order a.button{display:none;}
.page-id-50 #wc_constant_contact_subscribe{display:block;margin-top: -12px;}


/*custom css written on 20aug19*/
.page-id-50 .checkout.woocommerce-checkout .anr_captcha_field{display: inline-flex;position: absolute;bottom: 150px;}
.page-id-50 .woocommerce #payment #place_order,
.page-id-50 .woocommerce-page #payment #place_order {float: left;  margin-top: 100px;}

/*custom css written on 21aug19*/
#wc_constant_contact_subscribe_field{display: inline-flex;}

/*custom code written on 2sept19*/
.home-widget + .container {
  margin-top: -10em !important;
}
.home .blog-archive article:hover{opacity: 0.6 !important;}
.addlistcls  >a{
background-color: #0d47a1;
padding: 13px 25px !important;
border-radius: 3px;font-weight: normal;}
.addlistcls  >a:hover{font-weight: normal;}
.listingbtn{display: none;}


@media screen and (max-width: 767px) {
.home-widget {
  margin-top: 6em !important;
}
.addlistcls{display: none;}
.addlistcls  >a{
  display: none;
background-color: #0d47a1;
position: fixed;
bottom: 10%;
right: -48px;
color:#ffffff !important;
transform: rotate(90deg);
padding: 6px !important;
font-weight: normal;
}

.addlistcls  >a:hover{  font-weight: normal;}

.listingbtn {
  display: block;
  float: right;
  padding: 17px;
  font-size: 16px;
  /*background-color:#0d47a1;*/
}
.listingbtn  >a{  color: #ffffff !important;}
}

/*custom code written on 05sept19*/
.template-home .homepage-cover:not(.has-map) .update_results{width:auto !important;}
